src/main/mule/implementations/update-booking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update-bookingFlow" doc:id="0895133e-8aca-4862-a615-32c72e490655">
		<flow-ref doc:name="fetch-ticket-detailsFlow" doc:id="52ec7dd7-b5ec-4fa2-8864-2e4d2703d605" name="fetch-ticket-detailsFlow" target="ticketDetails"/>
		<ee:transform doc:name="Update Request Body" doc:id="d9c68dad-f0e0-4d64-adc1-6b488de826b1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"travelDate": vars.ticketDetails.travelDate,
	"sourceStation": vars.ticketDetails.sourceStation,
	"destinationStation": vars.ticketDetails.destinationStation,
	"paymentMethod": vars.ticketDetails.paymentMethod,
	"totalFare": vars.ticketDetails.totalFare,
	"trainId": vars.ticketDetails.trainId,
	"status": payload.status,
	"passengers": payload.passengerPreferences map do{
		var passenger = (vars.ticketDetails.passengers filter((item, ind) -> (item.passengerId == $.passengerId)))[0]
		---
		{
			"passengerId": $.passengerId,
			"coachNumber": $.coachNumber,
			"seatNumber": $.seatNumber,
			"name": $.name default passenger.name,
			"age": $.age default passenger.age,
			"gender": $.gender default passenger.gender,
			"classType": passenger.classType
		}	
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Update Reservation Details" doc:id="6069f26b-e2f3-45ba-adcf-a928639738ea" config-ref="Railway_Reservation_SAPI" path="/reservations/{reservationId}" sendCorrelationId="ALWAYS" correlationId="#[vars.correlationId]">
			<http:headers ><![CDATA[#[{
	client_id: p('secure::systemAPI.clientId'),
	client_secret: p('secure::systemAPI.clientSecret')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[{
	reservationId: vars.reservationId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Success Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Reservation details updated successfully",
  reservationId: vars.reservationId,
  travelDate: vars.ticketDetails.travelDate,
  trainId: vars.ticketDetails.trainId,
  dateTime: now() as String{format: "yyyy-MM-dd'T'hh:mm:ss'Z'"}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
