src/main/mule/ticket-booking-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="ticket-booking-papi-main">
        <http:listener config-ref="ticket-booking-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ticket-booking-papi-config" />
		<error-handler ref="global-error-handler" />
       
    </flow>
    <flow name="ticket-booking-papi-console">
        <http:listener config-ref="ticket-booking-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ticket-booking-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\bookings\(reservationId):application\json:ticket-booking-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="reservationId">attributes.uriParams.'reservationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="update-bookingFlow" doc:id="931a0ece-5e18-4b80-9db3-ad5f4f6aaa32" name="update-bookingFlow"/>
		
    </flow>
    <flow name="delete:\bookings\(reservationId):ticket-booking-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="reservationId">attributes.uriParams.'reservationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="cancel-ticketFlow" doc:id="61256b2e-c89b-4298-9b1f-6846c758a338" name="cancel-ticketFlow"/>
		
    </flow>
    <flow name="get:\bookings\(reservationId):ticket-booking-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="reservationId">attributes.uriParams.'reservationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="fetch-ticket-detailsFlow" doc:id="b42ef14d-66fd-4e69-8ca2-a4d65893a15e" name="fetch-ticket-detailsFlow"/>
		
    </flow>
    <flow name="post:\bookings:application\json:ticket-booking-papi-config">
        <flow-ref doc:name="book-ticketFlow" doc:id="ff26e934-b34d-44fa-b2b5-9c5b5a8ffa18" name="book-ticketFlow"/>
		
    </flow>
</mule>
